<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../styles/nctss_1.css">
  <title>Contact - NorCal Time Trial Series</title>
</head>
<body>
  <div class="page">
    <section class="header">
      <h1>NorCal Time Trial Series</h1>
    </section>
      <img class="logo" src="../media/LOGO.png" alt="Logo">
      <h2>Contact</h2> 

    <nav>
      <ul>
        <li>
          <a href="index1.html">Home</a>
        </li>
        <li>
          <a href="about1.html">About</a>
        </li>
        <li>
          <p>Contact</p>
        </li>
      </ul>
    </nav>
  
    <div class="subcontent">
      <p>Please email us at: <a href="mailto:info@nctts.org">info@nctts.org</a></p>
      <p>We will reply as quickly as we can.</p>
    </div>
  </div>

</body>
</html>